@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply px-2 py-1 bg-blue-400 hover:bg-blue-500 active:bg-blue-600 text-white rounded focus:outline-none;
  }
}

@layer utilities {
  .h-192 {
    height: 48rem;
  }
}
